/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2017, 4:12:16 PM
    Author     : frieda
*/

img{
    max-width: 80%;
    max-height: 80%;
}
#tut{
    min-width: 8em;
    min-height: 8em;
    border-radius: 1em;
    margin: 1em;
}
#prac{
    min-width: 8em;
    min-height: 8em;
    border-radius: 1em;
    margin: 1em;
    background-image: url("INDEX_files/practice.png");
}
#app{
    min-width: 8em;
    min-height: 8em;
    margin: 1em;
    border-radius: 1em; 
}

